{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "destructuring": true,
        "jsx": true,
        "modules": true,
        "templateStrings": true,
        "spread": true
    },
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "rules": {
        "no-unused-vars": 1,
        "quotes": [2, "single"],
        // never did i understand why there should be a newline
        "eol-last": 0,
        "new-cap": 0,
        "strict": [ 2, "global" ],
        // in tests they are prevalent
        "no-unused-expressions": 0,
        // backbone works this way unfortunately
        "no-new": 1,
        // i actually like that
        "no-underscore-dangle": 0,
        // e.g. search endpoints offer `matched_rank`
        "camelcase": 0,
        // allow `!!something`
        "no-extra-boolean-cast": 0,
        // allow line breaks between function calls
        "no-spaced-func": 0,
        // react rules
        "jsx-quotes": [1, "prefer-single"],
        "react/display-name": 1,
        "react/jsx-boolean-value": 0,
        "react/jsx-no-undef": 1,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-unknown-property": 1,
        "react/prop-types": 1,
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1
    },
    "plugins": [
        "react"
    ]
}