{{#if notifications}}
    <ul>
        {{#each notifications}}
            <li data-notification-id="{{this.id}}" data-notification-type="{{this.type}}">{{this.message}}</li>
        {{/each}}
    </ul>
{{else}}
{{/if}}