<h2>{{applicationId}}</h2>

<form name="oauthForm" class="form">
    <div class="form-group">
        <label for="oauth_redirect_uri">Redirect URI</label>
        <small>Where you expect users to come back to after logging in.</small>
        <input
            id="oauth_redirect_uri"
            name="yourturn_oauth_redirect_uri"
            type="url" />
    </div>
    <div class="form-group">
        
    </div>
</form>