<h2 class="applicationList-headline">Applications</h2>
<div class="btn-group">
    <a href="/application/create" class="btn btn-default">
    <i class="fa fa-plus"></i> Create Application</a>
</div>
<div class="form-group">
    <form class="form">
        <div class="input-group">
            <label>Search:
            <input
                autofocus="autofocus"
                value="{{term}}"
                type="search"
                aria-label="Enter your term"
                data-action="search"
                placeholder="Application" />
            </label>
            <button
                type="submit"
                class="btn btn-default">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
    </form>
</div>
{{#if apps.length}}
    <ul>
        {{#each apps}}
            <li>
                <a href="/application/detail/{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    No applications.
{{/if}}
