<table class="oauthSyncInfo u-info">
    <tbody>
        <tr>
            <td>Last update of access configuration</td>
            <td>{{{absoluteDate oauth.last_modified}}}</td>
        </tr>
        <tr>
            <td>Last client rotation</td>
            <td>{{{absoluteDate oauth.last_client_rotation}}}</td>
        </tr>
        <tr>
            <td>Last password rotation</td>
            <td>{{{absoluteDate oauth.last_password_rotation}}}</td>
        </tr>
        <tr>
            <td>Last sync with IAM</td>
            <td>{{{absoluteDate oauth.last_synced}}}</td>
        </tr>
    </tbody>
</table>