<h1>I am a sidebar, yo</h1>
<ul>
    <li><a data-external href="http://google.de">To Google</a></li>
    <li><a href="/">To home</a></li>
    <li><a href="/application">To Applications</a></li>
    <li><a href="/application/1234">To specific Application</a></li>
</ul>
<button>Clickme</button>
=> {{ counter }}