<div class="sidebar-content">
    <div class="sidebar-item" data-route="search">
        <a href="/search">Search</a> <i class="fa fa-search"></i>
    </div>
    <div class="sidebar-item" data-route="application">
        <a href="/application">Applications</a> <i class="fa fa-cubes"></i>
    </div>
    <div class="sidebar-item" data-route="resource">
        <a href="/resource">Resource Types</a> <i class="fa fa-key"></i>
    </div>
</div>