<div class="sidebar-content">
    <div class="header">
    {{#if tokeninfo}}
        <div class="userInfo">
            <span class="userImage" />
            <span>{{tokeninfo.uid}}</span>
        </div>
        <div class="tokenInfo">
            <div><small>OAuth Token expires {{{relativeDate tokeninfo.valid_until}}}</small>   </div>
            <div class="btn-group">
                <button class="btn btn-default">
                    <i class="fa fa-refresh"></i> Refresh
                </button>
                <button class="btn btn-default">
                    <i class="fa fa-trash"></i> Delete
                </button>
            </div>  
        </div>
    {{else}}
        <div>
            You are not logged in.
        </div>
    {{/if}}
    </div>
    <div class="sidebar-item" data-route="search">
        <a href="/search">Search</a> <i class="fa fa-search"></i>
    </div>
    <div class="sidebar-item" data-route="application">
        <a href="/application">Applications</a> <i class="fa fa-cubes"></i>
    </div>
    <div class="sidebar-item" data-route="resource">
        <a href="/resource">Resource Types</a> <i class="fa fa-key"></i>
    </div>
</div>