<h2>Resource Types</h2>
<div class="u-info">
    <p>
        An example of a resource is <em>one</em> sales order of a customer. The resource type of it would be <em>“sales order”</em>. Another example for resource types is <em>“customer information”</em> where the resource would be the master data of <em>one</em> customer.
    </p>
</div>
<div class="btn-group">
    <a href="/resource/create" class="btn btn-primary">
        <i class="fa fa-plus"></i> Create resource type
    </a>
</div>
<form>
    <input
        autofocus="autofocus"
        value="{{filterTerm}}"
        type="search"
        aria-label="Enter your filter term"
        placeholder="Resource Type" />
    <button
        type="submit"
        class="btn btn-default">
            <i class="fa fa-filter"></i> Filter
        </button>
</form>
{{#if resources.length}}
    <ul>
        {{#each resources}}
            <li>
                <a href="/resource/detail/{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    No resource types.
{{/if}}
