<div class="input-group">
    <input
        pattern="[a-z0-9][a-z0-9\-\.]*[a-z0-9]"
        placeholder="my-s3-bucket"
        minlength="3"
        maxlength="63"
        value="{{input}}"
        type="text" />
    <button
        type="submit"
        data-action="add-item"
        class="btn btn-default"><i class="fa fa-plus"></i> Add {{itemName}}
    </button>
</div>
{{#each items}}
<div class="list-item">
    <span>{{this}}</span>
    <div
        data-action="delete-item"
        data-index="{{@index}}"
        class="btn btn-danger">
        <i class="fa fa-close"></i> Remove
    </div>
</div>
{{/each}}