<div class="applicationDetail u-placeholder">
    <h1 class="u-placeholder-text">application</h1>

    <div class="btn-group">
        <a href="application/edit/{{app.id}}" class="btn btn-default btn-disabled">
            <i class="fa fa-pencil"></i> Edit
        </a>
    </div>

    <h4>
        <span class="applicationDetail-status">
            
                <i class="fa fa-lg fa-circle-o"></i> <strong>Inactive</strong>
        </span>
        <span class="u-placeholder-text">{{ app.subtitle }}</span>
    </h4>

    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td class="u-placeholder-text">appid</td>
            </tr>
            <tr>
                <th>Team ID</th>
                <td class="u-placeholder-text">teamid</td>
            </tr>
            <tr>
                <th>URL</th>
                <td class="u-placeholder-text">
                    verylongservice
                </td>
            </tr>
            <tr>
                <th>SCM</th>
                <td class="u-placeholder-text">
                    verylongsourcecode
                </td>
            </tr>
            <tr>
                <th>Documentation</th>
                <td class="u-placeholder-text">
                    verylongdocs
                </td>
            </tr>
            <tr>
                <th>API</th>
                <td class="u-placeholder-text">
                    apidocumentation
                </td>
            </tr>
            <tr>
                <th>Versions</th>
                <td>
                    All
                </td>
            </tr>
        </tbody>
    </table>
    <h4 className='applicationDetail-descriptionTitle'>Description</h4>
    <p class="u-placeholder-text">
        This is a short description of the application.
    </p>
</div>
