<div class="u-placeholder">
    <h1 class="u-placeholder-text">Application</h1>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td class="u-placeholder-text">ID</td>
            </tr>
            <tr>
                <th>Team ID</th>
                <td class="u-placeholder-text">STUPS</td>
            </tr>
            <tr>
                <th>URL</th>
                <td class="u-placeholder-text">rather long url</td>
            </tr>
            <tr>
                <th>SCM</th>
                <td class="u-placeholder-text">rather long url</td>
            </tr>
            <tr>
                <th>Documentation</th>
                <td class="u-placeholder-text">rather long url</td>
            </tr>
        </tbody>
    </table>
    <h4 className='applicationDetail-descriptionTitle'>Description</h4>
    <p class="u-placeholder-text">
        this app is closed... forever!
    </p>
</div>