<h2>Create new scope for {{resourceId}}</h2>
<form class="form" name="scopeForm">
    <div class="form-group">
        <label for="scope_id">Scope ID</label>
        <small>The ID of the scope.</small>
        <input
            id="scope_id"
            name="yourturn_scope_id"
            title="Only characters with underscores in between."
            pattern="[A-Za-z]\w+[A-Za-z]"
            required="required"
            placeholder="read"
            type="text" />
        
    </div>
    <div class="form-group">
        <label for="scope_criticality">Scope Criticality Level</label>
        <small>How sensitive is the data you get access to?</small>
        <select
            name="yourturn_scope_criticality"
            id="scope_criticality">
            <option value="1" selected="selected">1—none</option>
            <option value="2">2—??</option>
            <option value="3">3—???</option>
            <option value="4">4—PCI</option>
        </select>
    </div>
    <div class="form-group">
        <label for="scope_ownerScope">
            <input
                name="yourturn_scope_ownerScope"
                id="scope_ownerScope"
                type="checkbox" /> Resource Owner Scope
        </label>
        <small>Resource Owner Scopes are automatically granted to Resource Owners.</small>
    </div>
    <div class="form-group">
        <label for="scope_summary">Summary</label>
        <small>A few words on what the scope grants.</small>
        <input
            name="yourturn_scope_summary"
            id="scope_summary"
            maxlength="140"
            type="text" />
    </div>
    <div class="form-group">
        <label for="scope_description">Scope Description</label>
        <small>An elaborate description. You can use <a data-external href="http://www.unexpected-vortices.com/sw/rippledoc/quick-markdown-example.html">Markdown</a>.</small>
        <textarea
            id="scope_description"
            name="yourturn_scope_description"
            cols="30"
            rows="10"></textarea>
    </div>
    <div class="btn-group">
        <button
            type="submit"
            class="btn btn-primary">
            <i class="fa fa-plus"></i> Add
        </button>
        <button
            type="reset"
            class="btn btn-default">
            <i class="fa fa-eraser"></i> Clear
        </button>
    </div>
</form>