<div class="applicationDetail u-placeholder">
    <h1 class="u-placeholder-text">{{ver.application_id}} {{ver.id}}</h1>

    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td class="u-placeholder-text">{{ver.id}}</td>
            </tr>
            <tr>
                <th>Artifact</th>
                <td class="u-placeholder-text">{{ver.artifact}}</td>
            </tr>
        </tbody>
    </table>

    <h4 class="applicationDetail-descriptionTitle">Notes</h4>
    <p class="u-placeholder-text">
        This are the notes of this application's version.
    </p>
</div>
